Django
django-filter
django-environ
psycopg2-binary
django-cors-headers
gunicorn
djangorestframework
djangorestframework-simplejwt
drf-spectacular
drf-spectacular-sidecar
Pillow
redis



django_jalali







django-modeltranslation


